/* round2.css */
body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevents scrollbars */
    color: white;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('background2.png') no-repeat center center fixed;
    background-size: cover;
    filter: brightness(0.5); /* Adjust the value as needed */
    z-index: -1;
}

.hidden {
    display: none;
}

.game-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.player-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.player-buttons table {
    margin: 10px auto;
}

.player-buttons td {
    padding: 10px;
}

.button {
    width: 200px;
    height: 300px;
    cursor: pointer;
    filter: grayscale(100%);
    transition: filter 0.1s ease;
}

.button img {
    width: 100%;
    height: 100%;
    filter: brightness(30%); /* Darkened grey for white button */
}

.button.active, .button.highlight img {
    filter: none;
}

.overlay, .player-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: visible;
}

.overlay.hidden, .player-overlay.hidden {
    visibility: hidden;
}

.overlay-text {
    color: white;
    font-size: 2rem; /* Adjusted for more lines of text */
    text-align: center;
    font-family: monospace; /* ASCII art font */
    white-space: pre-wrap; /* Ensures the text breaks into multiple lines */
    padding: 20px; /* Adds some padding inside the overlay */
    max-width: 800px; /* Limits the width of the overlay box */
    border: 2px solid white; /* Optional: adds a border around the overlay */
    background-color: black; /* Set background color to black */
    border-radius: 10px; /* Optional: adds rounded corners to the box */
}

.player-overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    z-index: 2000;
}

#player1-score-board, #player2-score-board {
    text-align: center;
}

.ascii-art {
    font-family: monospace;
    font-size: 3rem;
    text-align: center;
    color: white;
}

button.wrong::after {
    content: 'X';
    color: red;
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
